<section class="add-articles">
  <h2 class="hidden-title">Додаткові статті</h2>
  <div class="add-articles__in">
    <div class="post">
      <div class="post__text-block">
        <h3 class="post__title">Вступ</h3>
        <p>В розділі розкривається актуальнiсть проблеми. Наслідки корупції.</p>
        <span class="post__counter">01</span>
        <div class="post__btn-group">
          <a class="button blue" href="#">
            <svg class="icon icon-read"><use xlink:href="img/svg/sprite.svg#icon-read"></use></svg>
            Читати
          </a>
          <a class="button transparent" href="#">
            <svg class="icon icon-video"><use xlink:href="img/svg/sprite.svg#icon-video"></use></svg>
            Дивитися відео
          </a>
        </div>
      </div>
    </div>
    <div class="post">
      <div class="post__text-block">
        <h3 class="post__title">Вступ</h3>
        <p>В розділі розкривається актуальнiсть проблеми. Наслідки корупції.</p>
        <span class="post__counter">01</span>
        <div class="post__btn-group">
          <a class="button blue" href="#">
            <svg class="icon icon-read"><use xlink:href="img/svg/sprite.svg#icon-read"></use></svg>
            Читати
          </a>
          <a class="button transparent" href="#">
            <svg class="icon icon-video"><use xlink:href="img/svg/sprite.svg#icon-video"></use></svg>
            Дивитися відео
          </a>
        </div>
      </div>
    </div>
  </div>
</section>