<article class="article" >
  <h2 class="hidden-title">Текст статті</h2>
  <div class="article__scroll"></div>
  <div class="video-wrapper" id="video">
    <iframe class="video" src="https://www.youtube.com/embed/Pvn20PjBa3k?ecver=1" allowfullscreen></iframe>
  </div>
  <h3>Заголовок - 1. Як каже Закон «Про запобігання корупції»</h3>
  <p>
    Корупція – це використання 1) особою, уповноваженою на виконання функцій держави або місцевого
    самоврядування, або 2) прирівненої до неї особою або 3) особою, яка постійно або тимчасово обіймає
    посади, пов’язані з виконанням організаційно-розпорядчих чи адміністративно-господарських обов’язків,
    або спеціально уповноваженою на виконання таких обов’язків у юридичних особах приватного права
    незалежно від організаційно-правової форми, а також іншою особою, які не є службовими особами та які
    виконують роботу або надають послуги відповідно до договору з підприємством, установою, організацією
    або 4) іншою особою, зазначеної у ч.1 ст.3 Закону наданих їй службових повноважень чи пов’язаних з
    ними можливостей з метою одержання неправомірної вигоди або прийняття такої вигоди чи прийняття обіцянки
    / пропозиції такої вигоди для себе чи інших осіб або відповідно обіцянка/пропозиція чи надання
    неправомірної вигоди посадовій особі, або на її вимогу іншим фізичним чи юридичним особам з метою
    схилити цю особу до протиправного використання наданих їй службових повноважень чи пов’язаних з ними
    можливостей.
  </p>`
  <h3>Заголовок - 2. Якщо пояснити положення Закону спрощено:</h3>
  <ul>
    <li>
      Це використання службових повноважень або пов’язаних з ним
      можливостей (вчинення будь-яких дій або умисна бездіяльність)
      задля отримання неправомірної вигоди (тобто грошей, майна,
      пільг, послуг, переваг і т.д.) для себе або своїх близьких, рідних,
      знайомих (потрібен один суб’єкт)</li>
    <li>
      І навпаки, надання/прийняття обіцянки (пропозиції) чи прийняття /
      надання неправомірної вигоди задля протиправного використання
      службових повноважень чи пов’язаних з ним можливостей (або
      схиляння іншого до цього) (потрібні два суб’єкта)
    </li>
  </ul>
  <div class="highlighted-info">
    <h3>Заголовок - 3 Як зовсім спрощено каже здоровий ґлузд:</h3>
    <p>Це використання будь-якою особою, що має хоч трохи влади, наявних в неї можливостей і
      повноважень задля отримання незаконної вигоди.</p>
  </div>
  <h3>
    Заголовок - 4. Як каже Закон «Про запобігання корупції»:
  </h3>
  <p>Корупція – це використання 1) особою, уповноваженою на виконання функцій держави або місцевого
    самоврядування, або 2) прирівненої до неї особою або 3) особою, яка постійно або тимчасово обіймає
    посади, пов’язані з виконанням організаційно-розпорядчих чи адміністративно-господарських обов’язків,
    або спеціально уповноваженою на виконання таких обов’язків у юридичних особах приватного права
    незалежно від організаційно-правової форми, а також іншою особою, які не є службовими особами та які
    виконують роботу або надають послуги відповідно до договору з підприємством, установою, організацією
    або 4) іншою особою, зазначеної у ч.1 ст.3 Закону наданих їй службових повноважень чи пов’язаних з ними
    можливостей з метою одержання неправомірної вигоди або прийняття такої вигоди чи прийняття обіцянки /
    пропозиції такої вигоди для себе чи інших осіб або відповідно обіцянка/пропозиція чи надання неправомірної
    вигоди посадовій особі, або на її вимогу іншим фізичним чи юридичним особам з метою схилити цю особу до
    протиправного використання наданих їй службових повноважень чи пов’язаних з ними можливостей.
  </p>
  <blockquote>
    <svg class="icon icon-quotes"><use xlink:href="img/svg/sprite.svg#icon-quotes"></use></svg>
    Корупція — це використання особою, уповноваженою на виконання функцій держави або місцевого самоврядування, або прирівненої до неї особою
  </blockquote>
  <p>Корупція – це використання 1) особою, уповноваженою на виконання функцій держави або місцевого
    самоврядування, або 2) прирівненої до неї особою або 3) особою, яка постійно або тимчасово обіймає
    посади, пов’язані з виконанням організаційно-розпорядчих чи адміністративно-господарських обов’язків,
    або спеціально уповноваженою на виконання таких обов’язків у юридичних особах приватного права
    незалежно від організаційно-правової форми, а також іншою особою, які не є службовими особами та які
    виконують роботу або надають послуги відповідно до договору з підприємством, установою, організацією
    або 4) іншою особою, зазначеної у ч.1 ст.3 Закону наданих їй службових повноважень чи пов’язаних з ними
    можливостей з метою одержання неправомірної вигоди або прийняття такої вигоди чи прийняття обіцянки /
    пропозиції такої вигоди для себе чи інших осіб або відповідно обіцянка/пропозиція чи надання неправомірної
    вигоди посадовій особі, або на її вимогу іншим фізичним чи юридичним особам з метою схилити цю особу до
    протиправного використання наданих їй службових повноважень чи пов’язаних з ними можливостей.
  </p>
  <img src="img/article_img.png" alt="">
  <h3>Заголовок 5 Як каже Закон «Про запобігання корупції»:</h3>
  <p>Корупція – це використання 1) особою, уповноваженою на виконання функцій держави або місцевого
    самоврядування, або 2) прирівненої до неї особою або 3) особою, яка постійно або тимчасово обіймає
    посади, пов’язані з виконанням організаційно-розпорядчих чи адміністративно-господарських обов’язків,
    або спеціально уповноваженою на виконання таких обов’язків у юридичних особах приватного права
    незалежно від організаційно-правової форми, а також іншою особою, які не є службовими особами та які
    виконують роботу або надають послуги відповідно до договору з підприємством, установою, організацією
    або 4) іншою особою, зазначеної у ч.1 ст.3 Закону наданих їй службових повноважень чи пов’язаних з ними
    можливостей з метою одержання неправомірної вигоди або прийняття такої вигоди чи прийняття обіцянки /
    пропозиції такої вигоди для себе чи інших осіб або відповідно обіцянка/пропозиція чи надання неправомірної
    вигоди посадовій особі, або на її вимогу іншим фізичним чи юридичним особам з метою схилити цю особу до
    протиправного використання наданих їй службових повноважень чи пов’язаних з ними можливостей.
  </p>
  <footer class="article__footer">
    <div class="likely likely-light likely_visible likely_ready">
      <div class="twitter">Твітнуть</div>
      <div class="facebook">Поділитися</div>
      <div class="gplus"></div>
      <div class="vkontakte"></div>
      <div class="odnoklassniki"></div>
      <div class="linkedin"></div>
      <div class="telegram">Відправити</div>
      <div class="pinterest" data-media="i/pinnable.jpg">Запінити</div>
    </div>
  </footer>
</article>