<section class="form-wrapper" id="js-form">
  <form class="form">
    <h2 class="form__title">Зворотнiй зв’язок</h2>
    <p class="form__text">
      В розділі розкривається актуальнiсть проблеми. Наслідки корупції.
      В розділі розкривається актуальнiсть проблеми.
    </p>
    <div class="form__input-group">
      <input class="form__control" required type="text" placeholder="Ваше iм’я">
    </div>
    <div class="form__input-group">
      <input class="form__control" required type="email" placeholder="E-mail">
    </div>
    <div class="form__input-group">
      <input class="form__control" required type="text" placeholder="Повiдомлення">
    </div>
    <button type="submit" class="button blue form__btn">Вiдправити</button>
    <div class="form__close-btn js-form-close-btn">
      <svg class="icon icon-cross"><use xlink:href="img/svg/sprite.svg#icon-cross"></use></svg>
    </div>
  </form>
</section>