<header class="header">
  <h2 class="hidden-title">Шапка сайту з навігацією та соціальними мережами</h2>
  <nav class="top-nav">
    <ul class="nav">
      <li class="nav__item">
        <a href="#">Матеріали посібника</a>
      </li>
      <li class="nav__item">
        <a class="nav__item" href="#">Про проєкт</a>
      </li>
    </ul>
  </nav>
  <strong class="logo">
    <a href="#">
      <svg class="icon icon-logo"><use xlink:href="img/svg/sprite.svg#icon-logo"></use></svg>
      vykryvachu
    </a>
  </strong>
  <div class="header__controls">
    <nav class="top-add-nav">
      <ul class="nav">
        <li class="nav__item">
          <span class="js-form-btn">Зворотній зв'язок</span>
        </li>
      </ul>
    </nav>
    <div class="social-networks">
      <a href="#" class="social-networks__item">
        <svg class="icon icon-facebook"><use xlink:href="img/svg/sprite.svg#icon-facebook"></use></svg>
      </a>
    </div>
  </div>
  <div class="mobile-nav-btn" id="js-mobile-nav-btn">
    <svg class="icon icon-burger"><use xlink:href="img/svg/sprite.svg#icon-burger"></use></svg>
  </div>
</header>