<nav class="mobile-nav" id="js-mobile-nav">
  <h2 class="hidden-title">Мобільна навігація</h2>
  <header class="mobile-nav__header">
    <strong class="logo">
      <a href="#">
        <svg class="icon icon-logo"><use xlink:href="img/svg/sprite.svg#icon-logo"></use></svg>
        vykryvachu
      </a>
    </strong>
    <button class="mobile-nav__close-btn" id="js-mobile-nav-close-btn">
      <svg class="icon icon-cross"><use xlink:href="img/svg/sprite.svg#icon-cross"></use></svg>
    </button>
  </header>
  <div class="mobile-nav__content">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a  href="#">Матерiали посiбника</a>
      </li>
      <li class="mobile-nav__item">
        <a  href="#">Про проект</a>
      </li>
      <li class="mobile-nav__item">
        <span class="js-form-btn">Зворотнiй зв’язок</span>
      </li>
    </ul>
    <div class="social-networks">
      <a class="social-networks__item" href="">
        <svg class="icon icon-facebook"><use xlink:href="img/svg/sprite.svg#icon-facebook"></use></svg>
      </a>
    </div>
  </div>
</nav>