<section class="posts">
  <h2 class="hidden-title">Список статей</h2>
  <div class="posts__list">
    <div class="post">
      <div class="post__text-block">
        <h3 class="post__title">Вступ</h3>
        <p>В розділі розкривається актуальнiсть проблеми. Наслідки корупціїю.</p>
        <span class="post__counter">01</span>
        <div class="post__btn-group">
          <a class="button blue" href="#">
            <svg class="icon icon-read"><use xlink:href="img/svg/sprite.svg#icon-read"></use></svg>
            Читати
          </a>
          <a class="button transparent" href="#">
            <svg class="icon icon-video"><use xlink:href="img/svg/sprite.svg#icon-video"></use></svg>
            Дивитися відео
          </a>
        </div>
      </div>
      <div class="post__img-wrapper">
        <img src="img/post_img.jpg" class="post__img" alt="Post image">
      </div>
    </div>

    <div class="post">
      <div class="post__text-block">
        <h3 class="post__title">Що таке корупція? Хто такий викривач?</h3>
        <p>В розділі розкривається актуальнiсть проблеми. Наслідки корупціїю.</p>
        <span class="post__counter">02</span>
        <div class="post__btn-group">
          <a class="button blue" href="#">
            <svg class="icon icon-read"><use xlink:href="img/svg/sprite.svg#icon-read"></use></svg>
            Читати
          </a>
          <a class="button transparent" href="#">
            <svg class="icon icon-video"><use xlink:href="img/svg/sprite.svg#icon-video"></use></svg>
            Дивитися відео
          </a>
        </div>
      </div>
      <div class="post__img-wrapper">
        <img src="img/post_img.jpg" class="post__img" alt="Post image">
      </div>
    </div>

    <div class="post">
      <div class="post__text-block">
        <h3 class="post__title">Чому важливо викривати?</h3>
        <p>В розділі розкривається актуальнiсть проблеми. Наслідки корупціїю.</p>
        <span class="post__counter">03</span>
        <div class="post__btn-group">
          <a class="button blue" href="#">
            <svg class="icon icon-read"><use xlink:href="img/svg/sprite.svg#icon-read"></use></svg>
            Читати
          </a>
          <a class="button transparent" href="#">
            <svg class="icon icon-video"><use xlink:href="img/svg/sprite.svg#icon-video"></use></svg>
            Дивитися відео
          </a>
        </div>
      </div>
      <div class="post__img-wrapper">
        <img src="img/post_img.jpg" class="post__img" alt="Post image">
      </div>
    </div>

    <div class="post">
      <div class="post__text-block">
        <h3 class="post__title">Вступ</h3>
        <p>В розділі розкривається актуальнiсть проблеми. Наслідки корупціїю.</p>
        <span class="post__counter">04</span>
        <div class="post__btn-group">
          <a class="button blue" href="#">
            <svg class="icon icon-read"><use xlink:href="img/svg/sprite.svg#icon-read"></use></svg>
            Читати
          </a>
          <a class="button transparent" href="#">
            <svg class="icon icon-video"><use xlink:href="img/svg/sprite.svg#icon-video"></use></svg>
            Дивитися відео
          </a>
        </div>
      </div>
      <div class="post__img-wrapper">
        <img src="img/post_img.jpg" class="post__img" alt="Post image">
      </div>
    </div>

    <div class="post">
      <div class="post__text-block">
        <h3 class="post__title">Що таке корупція? Хто такий викривач?</h3>
        <p>В розділі розкривається актуальнiсть проблеми. Наслідки корупціїю.</p>
        <span class="post__counter">05</span>
        <div class="post__btn-group">
          <a class="button blue" href="#">
            <svg class="icon icon-read"><use xlink:href="img/svg/sprite.svg#icon-read"></use></svg>
            Читати
          </a>
          <a class="button transparent" href="#">
            <svg class="icon icon-video"><use xlink:href="img/svg/sprite.svg#icon-video"></use></svg>
            Дивитися відео
          </a>
        </div>
      </div>
      <div class="post__img-wrapper">
        <img src="img/post_img.jpg" class="post__img" alt="Post image">
      </div>
    </div>

    <div class="post">
      <div class="post__text-block">
        <h3 class="post__title">Вступ</h3>
        <p>В розділі розкривається актуальнiсть проблеми. Наслідки корупціїю.</p>
        <span class="post__counter">06</span>
        <div class="post__btn-group">
          <a class="button blue" href="#">
            <svg class="icon icon-read"><use xlink:href="img/svg/sprite.svg#icon-read"></use></svg>
            Читати
          </a>
          <a class="button transparent" href="#">
            <svg class="icon icon-video"><use xlink:href="img/svg/sprite.svg#icon-video"></use></svg>
            Дивитися відео
          </a>
        </div>
      </div>
      <div class="post__img-wrapper">
        <img src="img/post_img.jpg" class="post__img" alt="Post image">
      </div>
    </div>
  </div>
</section>